{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <img src="/uploads/{{events.picture}}" alt="{{events.name}}" style="width: 100%">
            <div id="coords">{{events.coordinates}}</div> 
        </div>
        <div class="col-sm-9">

            <h2>{{events.name}} <small>{{events.promonumber}}</small></h2>
            <hr>
            <p class="lead">
                {{events.description}}
            </p>
            <hr>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"><div id="map" ></div>
        <input type="button" class="btn btn-default" value="Locate me!" onClick="javascript:getLocationLeaflet();"></div>
        
    </div>

    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
        <a href="/edit/{{events._id}}" class="btn btn-default">Editer</a>
        <a href="/delete/{{events._id}}" class="btn btn-danger">Supprimer</a>
    </div>
{% endblock %}