
.background-index{
    background-image: url("images/bg.jpg");
    background-size: cover;
    height: 500px;
    margin-bottom: 25px;
}

.height-50{
    height: 50px;
}

.menu{
    background-image: url("images/menu.png");
    background-size: cover;
    height: 50px; 
}

.height-500{
    height: 500px;
}

.overflow-hidden{
    overflow: hidden;
}

#map {
    height: 50vh;
    width: 100%;
  }
  