{% extends "layout.html" %} 

{% block content %}

<!-- Index form -->
<div class="container-fluid background-index d-flex align-items-center">
    <form class="form-inline offset-md-3 col-md-6" action="/action_page.php">
        <div class="input-group mb-3 w-100">
            <input type="text" class="form-control" placeholder="Où êtes vous?" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-success" type="button">Button</button>
            </div>
        </div>
    </form>
</div>


<div class="container-fluid ">
    <div class="row">
    {% for e in events %}
        <div class="container-fluid col-12 col-sm-6 col-md-4 mb-4">
            <div class="card p-0">
                <img class="card-img-top" src="images/bg3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{e.name}}</h4>
                    <p class="card-text">{{e.description}}</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="container-fluid col-12 col-sm-6 col-md-4 mb-4">
            <div class="card p-0">
                <img class="card-img-top" src="images/bg3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">PA</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="container-fluid col-12 col-sm-6 col-md-4 mb-4">
            <div class="card p-0">
                <img class="card-img-top" src="images/bg3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="container-fluid col-12 col-sm-6 col-md-4 mb-4">
            <div class="card p-0">
                <img class="card-img-top" src="images/bg3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="container-fluid col-12 col-sm-6 col-md-4 mb-4">
            <div class="card p-0">
                <img class="card-img-top" src="images/bg3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="container-fluid col-12 col-sm-6 col-md-4 mb-4">
            <div class="card p-0">
                <img class="card-img-top" src="images/bg3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}