body{
    overflow-x: hidden;
}
/** Back ground **/
.background-index{
    background-image: url("../images/bg5.jpg");
    background-size: cover;
    background-position: center; 
    height: 90vh;
}

.discover-bg{
    background-image: url("../images/discover-bg.jpg");
    background-size: cover;
    background-position: center;
}

.white-bg{
    background-color: white;
}
.endl-card{
    margin-top: 20px;
}

.endl-connexion{
    margin-bottom: 0px;
}

/** Fonts **/

.fonts_20{
    font-size: 20px;
}

.fonts-24{
    font-size: 24px;
}

/** Height **/
.height-24{
    height: 24px;
}

.height-30{
    height: 30px;
}
.height-40{
    height: 40px;
}

.mt-50{
    margin-top: 50px;
}

.height-50{
    height: 50px;
}

.height-64{
    height: 64px;
}
.min-height-64{
    min-height: 64px;
}

.height-70{
    height: 70px;
}

.height-80{
    height: 80px;
}

.height-100{
    height: 100px;
}

.height-150{
    height: 150px;
}

.height-175{
    height: 175px;
}

.height-200{
    height: 200px;
}

.height-300{
    height: 300px;
}

.height-400{
    height: 400px;
}

.img_slider{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.overflow_hidden{
    overflow: hidden;
}
.menu{
    background-image: url("../images/menu.png");
    background-size: cover;
    height: 50px; 
}

.height-500{
    height: 500px;
}

.height-2000{
    height: 2000px;
}

.bg-white{
    background-color: white;
}

.text_decoration_none:hover{
    text-decoration: none;
}
.text_decoration_none{
    text-decoration: none;
}
/*** ICON ***/
/**** FORM ICON ***/

.nom_icon{
    background-image: url("../images/ic_account_circle_black_36dp.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.nom_icon:focus{
    background-image: url("../images/ic_account_circle_black_36dp.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.mdp_icon{
    background-image: url("../images/ic_lock_black_36dp.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.mdp_icon:focus{
    background-image: url("../images/ic_lock_black_36dp.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.mail_icon{
    background-image: url("../images/ic_mail_36pt.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.mail_icon:focus{
    background-image: url("../images/ic_mail_36pt.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.store_icon{
    background-image: url("../images/ic_store_mall_directory_black_24dp.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.store_icon:focus{
    background-image: url("../images/ic_store_mall_directory_black_24dp.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.location_icon{
    background-image: url("../images/ic_place_black_24dp.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

.location_icon:focus{
    background-image: url("../images/ic_place_black_24dp.png");
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
}

/*** RS ICON ***/

.fa {
  padding:8px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.modal-lg {
    max-width: 80%;
}

/**** END INCON ***/

/*** FORM EVENT  ***/

#map {
    height: 50vh;
    width: 100%;
  }
  
#coords
{
    display:none;
}

#address
{
    display:none;
}

#locationField, #controls {
        position: relative;
        width: 100%;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 30px;
        margin-bottom: 2px;
      }

/** FEED **/

.announce_feed{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .announce_feed:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

/** MODAL **/

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content-full {
    min-height: 100vh;
}

/** Image Responsive **/
.img-responsive{
    display: block;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}

.img-square{
    position: relative;
}
.img-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .img-square-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }