{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid p-2 p-md-5">
        <!-- Header Discover -->
        <div class="container-fluid pt-4 pl-md-3 pb-5">
            <h1>
                <span class="display-md-4 font-weight-normal">Faire des économies</span>
                <br>
                <span class="display-md-4 font-weight-light">commence par Jager</span>
            </h1>
        </div>
        <!-- /Discover -->

        <!-- Concept -->
        <div class="container-fluid">
            <div class="col-12 d-flex justify-content-center align-items-center discover-bg-concept">
                <h2 class="text-center text-light">
                    <span class="display-3">Le concept Jäger</span>
                    <br>
                    <small>Des avantages pour tous</small>
                </h2>
            </div>
        </div>
        <!-- Intrigue -->
        <div class="container-fluid pt-5 pb-5">
            <p class="font-weight-light text-justify">Ces dernières années les centres villes ont pu assister à une désertion de leurs rues et de leurs magasins. Certains
                ont dû fermer, d'autres survives, notament dû à cause de l'apparition de mastodonte appelé "centre commerciaux".
                On constate aussi des piques d'affluence à des heures précises de la journée, ce qui n'est agréable pour
                personne.
                <br>
                <span class="lead">Jäger à pour objectif d'éviter ces problèmes et qu'ils soient avantageux pour tous !</span>
            </p>
        </div>
        <!-- Particulier -->
        <div class="container-fluid d-flex flex-column-reverse flex-md-row row pt-4 pb-5 m-0">
            <div class="col-12 col-md-6 pr-md-5 pt-4 pt-md-0 p-0 m-0">
                <h3>Avantages pour les particuliers</h3>
                <p class="font-weight-light text-justify pr-2">Chaque jours vous retrouverez un panel de promotions qui vous correspondent, selon vos intérêts et vos besoins.
                    Vous pourrez trouver des produits, des activités ou même des services à des prix plus intéressants. De
                    plus ces offres vous seront proposer si vous êtes proche d'elles, ainsi l'accessibilité et le temps pour
                    s'y rendre ne sera pas un problème.
                </p>
            </div>
            <div class="col-12 pl-md-5 col-md-6 p-0 m-0 pb-md-0">
                <div class="discover-bg-particulier h-100 p-0 m-0">

                </div>
            </div>
        </div>

        <!-- /Particulier -->
        <!-- Professionnel -->

        <div class="container-fluid d-flex flex-column flex-md-row row pt-4 pb-5 m-0">
            <div class="col-12 pr-md-5 col-md-6 p-0 m-0 pb-md-0">
                <div class="discover-bg-pro h-100 p-0 m-0">

                </div>
            </div>
            <div class="col-12 col-md-6 pl-md-5 pt-4 pt-md-0 p-0 m-0">
                <h3>Avantages pour les professionnel</h3>
                <p class="font-weight-light text-justify pr-2">
                    On a pû constater dans de nombreux commerces d'important pique de clientèle à certaines heures de la journée.
                    Obligeant les clients à attendre et les commerçant à se dépécher pour optimiser le temps entre chaque client.
                    L'un des principaux but est d'ammener le client à venir lors des périodes plus creuses afin de pouvoir travailler
                    tout au long de la journée. Mais aussi de faire découvrir le commerce à de nouvelles personnes !
                </p>
            </div>
        </div>
        <!-- /Professionnel -->
        <!-- /Concept -->

        <!-- Jager hours -->

        <div class="container-fluid pt-5 pb-5">
            <div class="col-12 d-flex justify-content-center align-items-center discover-bg-fonctionnement">
                <h2 class="text-center text-light">
                    <span class="display-3">Les Jagers hours</span>
                    <br>
                    <small>Explication en 4 étapes</small>
                </h2>
            </div>
        </div>
        <!-- Four steps --> 
        <div class="container-fluid pt-5 pb-5">
            <!-- Step 1 -->
            <div class="d-flex">
                <!-- Number -->
                <div style="max-height: 100%" class="d-flex flex-column align-items-center">
                    <div class="d-flex align-items-center justify-content-center bg-black rounded-circle p-0 p-md-3"> 
                        <img class="img-fluid p-2 p-md-0" src="images/ic_looks_one_white_24dp.png" alt="first-point">
                    </div>
                    <div class="overflow_hidden h-100">
                        <img class="h-100" style="width: 6px;" src="images/trait.png" alt="trait">
                    </div>
                </div>
                <!-- Description -->
                <div class="w-100">
                    <h3 class="text-weight-light p-3 p-md-4">Les chasser</h3>
                    <p class="text-weight-light text-justify pl-4 pb-4">
                       Les Jäger hours sont des offres ponctuelles qui apparaissent à certains moment de la journée
                    </p>
                </div>
            </div>
            <!-- Step 2 -->
            <div class="d-flex">
                    <!-- Number -->
                    <div style="max-height: 100%" class="d-flex flex-column align-items-center">
                        <div class="d-flex align-items-center justify-content-center bg-black rounded-circle p-0 p-md-3"> 
                            <img class="img-fluid p-2 p-md-0" src="images/ic_looks_two_white_24dp.png" alt="first-point">
                        </div>
                        <div class="overflow_hidden h-100">
                            <img class="h-100" style="width: 6px;" src="images/trait.png" alt="trait">
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="w-100">
                        <h3 class="text-weight-light p-3 p-md-4">Des offres</h3>
                        <p class="text-weight-light text-justify pl-4 pb-4">Griaß di! Der hanebüchen Donnerwetter verhaspeln. Das butterweich Müßiggang katzbuckeln. Bürgermeisterstück und Schuhwichse lobpreisen gemach Schutzschwalbe. Der nichtsnutzig Sülze. Die Waldschrat anschwärzen das stramm Hanswurst. Der Blockwart krakelen die fatal Sittenstrolch. Das Abort verhaspeln das stramm Damenbart. Der Waldschrat stagnieren das halbstark Flickschusterei. Das Lausbub lobpreisen die frivol Kaiserwetter. Das flügge Übeltäter. Das pfundig Schenkelbürste grämen. Das halbstark Kaiserwetter. Rostbratwurst und Feuertaufe dengeln flügge Wildfang. Die Klimbim krakelen das adrett Blutwurst. Mein lieber Herr Gesangsverein!</p>
                    </div>
                </div>
                <!-- Step 3 -->
            <div class="d-flex">
                    <!-- Number -->
                    <div style="max-height: 100%" class="d-flex flex-column align-items-center">
                        <div class="d-flex align-items-center justify-content-center bg-black rounded-circle p-0 p-md-3"> 
                            <img class="img-fluid p-2 p-md-0" src="images/ic_looks_3_white_24dp.png" alt="first-point">
                        </div>
                        <div class="overflow_hidden h-100">
                            <img class="h-100" style="width: 6px;" src="images/trait.png" alt="trait">
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="w-100">
                        <h3 class="text-weight-light p-3 p-md-4">Prcohent de chez vous</h3>
                        <p class="text-weight-light text-justify pl-4 pb-4">Griaß di! Der hanebüchen Donnerwetter verhaspeln. Das butterweich Müßiggang katzbuckeln. Bürgermeisterstück und Schuhwichse lobpreisen gemach Schutzschwalbe. Der nichtsnutzig Sülze. Die Waldschrat anschwärzen das stramm Hanswurst. Der Blockwart krakelen die fatal Sittenstrolch. Das Abort verhaspeln das stramm Damenbart. Der Waldschrat stagnieren das halbstark Flickschusterei. Das Lausbub lobpreisen die frivol Kaiserwetter. Das flügge Übeltäter. Das pfundig Schenkelbürste grämen. Das halbstark Kaiserwetter. Rostbratwurst und Feuertaufe dengeln flügge Wildfang. Die Klimbim krakelen das adrett Blutwurst. Mein lieber Herr Gesangsverein!</p>
                    </div>
                </div>
                <!-- Step 4 -->
            <div class="d-flex">
                    <!-- Number -->
                    <div style="max-height: 100%" class="d-flex flex-column align-items-center">
                        <div class="d-flex align-items-center justify-content-center bg-black rounded-circle p-0 p-md-3"> 
                            <img class="img-fluid p-2 p-md-0" src="images/ic_looks_4_white_24dp.png" alt="first-point">
                        </div>
                        <div class="overflow_hidden h-100">
                            <img class="h-100" style="width: 6px;" src="images/trait.png" alt="trait">
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="w-100">
                        <h3 class="text-weight-light p-3 p-md-4">Avant le chrono</h3>
                        <p class="text-weight-light text-justify pl-4 pb-4">Griaß di! Der hanebüchen Donnerwetter verhaspeln. Das butterweich Müßiggang katzbuckeln. Bürgermeisterstück und Schuhwichse lobpreisen gemach Schutzschwalbe. Der nichtsnutzig Sülze. Die Waldschrat anschwärzen das stramm Hanswurst. Der Blockwart krakelen die fatal Sittenstrolch. Das Abort verhaspeln das stramm Damenbart. Der Waldschrat stagnieren das halbstark Flickschusterei. Das Lausbub lobpreisen die frivol Kaiserwetter. Das flügge Übeltäter. Das pfundig Schenkelbürste grämen. Das halbstark Kaiserwetter. Rostbratwurst und Feuertaufe dengeln flügge Wildfang. Die Klimbim krakelen das adrett Blutwurst. Mein lieber Herr Gesangsverein!</p>
                    </div>
                </div>
            
        </div>

        <!-- /Jager hours -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% endblock %}