{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form method="POST" action="{{endpoint}}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nom de l'évènement</label>
                <input type="text" id="name" name="name" class="form-control" value="{{events.name}}">
            </div>
            <div class="form-group">
                <label for="name">Adresse de l'évènement</label>
                    <div id="locationField"> 
                        <input id="autocomplete" onFocus="geolocate()" type="text"></input>
                    </div> 
            </div>

            <div class="form-group">
                <label for="promonumber">Pourcentage de promotion</label>
                <input type="number" id="promonumber" name="promonumber" class="form-control" value="{{events.promonumber}}">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" class="form-control" value="{{events.date}}">
            </div>

            <div class="form-group">
                <label for="hour">Heure</label>
                <input type="text" class="form-control" value="09:30" class="hour" name="hour" value="{{events.hour}}">
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>


            <table id="address">
            <tr>
                <td class="label">Street address</td>
                <td class="slimField"><input class="field" name="street_number" id="street_number"
                    disabled="true"></input></td>
                <td class="wideField" colspan="2"><input class="field" id="route" name="route"
                    disabled="true"></input></td>
            </tr>
            <tr>
                <td class="label">City</td>
                <!-- Note: Selection of address components in this example is typical.
                    You may need to adjust it for the locations relevant to your app. See
                    https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
                -->
                <td class="wideField" colspan="3"><input class="field" id="locality" name="locality"
                    disabled="true"></input></td>
            </tr>
            <tr>
                <td class="label">State</td>
                <td class="slimField"><input class="field"
                    id="administrative_area_level_1" name="administrative_area_level_1" disabled="true"></input></td>
                <td class="label">Zip code</td>
                <td class="wideField"><input class="field" id="postal_code" name="postal_code"
                    disabled="true"></input></td>
            </tr>
            <tr>
                <td class="label">Country</td>
                <td class="wideField" colspan="3"><input class="field"
                    id="country" name="country" disabled="true"></input></td>
            </tr>
            </table>
            <!-- Replace the value of the key parameter with your own API key. -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&libraries=places&callback=initAutocomplete"
                    async defer></script>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description">{{events.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="file">Image</label>
                <input type="file" id="file" name="file">
            </div>

            <input type="submit" class="btn btn-primary" value="Enregistrer"/>
        </form>
        
</div>

{% endblock %}