{% extends "layout.html" %} {% block content %}

</form>

<form method="POST" action="{{endpoint}}" enctype="multipart/form-data">
    <div class="container col-12 col-md-9 col-lg-6 mt-5 mb-5">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Déposer une annonce</h5>
                <p class="card-text">Remplissez les informations ci-dessous afin de publier votre annonce.</p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 mb-3">
                <label for="validationServer01">Nom de l'enseigne:</label>
                <input type="text" class="form-control" id="validationServer01" placeholder="Nom de l'enseigne" name="name" value="{{events.name}}"
                    required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-6 mb-3">
                <label for="validation_date">Promotion:</label>
                <div class="input-group">
                    <input type="number" id="promonumber" name="promonumber" class="form-control" value="{{events.promonumber}}">
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-3">
                <label for="validationServer02">Places disponibles:</label>
                <input type="number" id="number_avalaible" name="number_avalaible" class="form-control" value="{{events.number_avalaible}}">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="validationServer03">Adresse:</label>
                <div id="locationField">
                    <input class="form-control" id="autocomplete" onFocus="geolocate()" type="text"></input>
                </div>
            </div>
        </div>
        <table id="address">
            <tr>
                <td class="label">Street address</td>
                <td class="slimField">
                    <input class="field" name="street_number" id="street_number" value="{{events.street_number}}"></input>
                </td>
                <td class="wideField" colspan="2">
                    <input class="field" id="route" name="route" value="{{events.route}}"></input>
                </td>
            </tr>
            <tr>
                <td class="label">City</td>
                <!-- Note: Selection of address components in this example is typical.
                    You may need to adjust it for the locations relevant to your app. See
                    https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
                -->
                <td class="wideField" colspan="3">
                    <input class="field" id="locality" name="locality" value="{{events.city}}"></input>
                </td>
            </tr>
            <tr>
                <td class="label">State</td>
                <td class="slimField">
                    <input class="field" id="administrative_area_level_1" name="administrative_area_level_1"></input>
                </td>
                <td class="label">Zip code</td>
                <td class="wideField">
                    <input class="field" id="postal_code" name="postal_code" value="{{events.state}}"></input>
                </td>
            </tr>
            <tr>
                <td class="label">Country</td>
                <td class="wideField" colspan="3">
                    <input class="field" id="country" name="country" value="{{events.country}}"></input>
                </td>
            </tr>
            <tr>
                <td class="label">Latitude</td>
                <td class="wideField" colspan="3">
                    <input class="field" name="latitude" id="latitude" value="{{events.latitude}}"></input>
                </td>
            </tr>
            <tr>
                <td class="label">Longitude</td>
                <td class="wideField" colspan="3">
                    <input class="field" name="longitude" id="longitude" value="{{events.longitude}}"></input>
                </td>
            </tr>
        </table>

        <div class="form-group">
            {% for type in types %}
            <label>
                <input type="checkbox" name="types[]" value="{{type._id}}" {% if events.types.indexOf(type._id) !=- 1 %}checked{% endif %}> {{type.name}}
            </label>
            {% endfor %}
        </div>
        <div class="form-group mb-3">
            <label for="exampleTextarea">Description de l'enseigne:</label>
            <textarea class="form-control" id="description" name="description" placeholder="Description de l'enseigne" rows="3">{{events.description}}</textarea>
        </div>
        <div class="form-group row">
            <div class="col-12 col-lg-6 mb-3">
                <label for="validation_date">Début de la promotion:</label>
                <input class="form-control" type="datetime-local" id="validation_date" name="datedebut" placeholder="Début de l'offre" value="{{events.datedebut}}">
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <label for="validation_date">Fin de la promotion:</label>
                <input class="form-control" type="datetime-local" id="validation_date" name="datefin" placeholder="Fin de l'offre" value="{{events.datefin}}">
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="file">
                    <label class="custom-file-label" for="validatedCustomFile">Choisir une image</label>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary" type="submit">Publier</button>
    </div>
</form>

{% endblock %}