{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form method="POST" action="{{endpoint}}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nom de l'évènement</label>
                <input type="text" id="name" name="name" class="form-control" value="{{events.name}}">
            </div>
            <div class="form-group">
                <label for="name">Adresse de l'évènement</label>
                    <div id="locationField"> 
                        <input id="autocomplete" onFocus="geolocate()" type="text"></input>
                    </div> 
            </div>

            <div class="form-group">
                <label for="promonumber">Pourcentage de promotion</label>
                <input type="number" id="promonumber" name="promonumber" class="form-control" value="{{events.promonumber}}">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" class="form-control" value="{{events.date}}">
            </div>

            <div class="form-group">
                <label for="hour">Heure</label>
                <input type="text" class="form-control" value="09:30" class="hour" name="hour" value="{{events.hour}}">
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
                </span>

            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description">{{events.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="file">Image</label>
                <input type="file" id="file" name="file">
            </div>

            <input type="submit" class="btn btn-primary" value="Enregistrer"/>
        </form>
        
</div>


<table id="address">
  <tr>
    <td class="label">Street address</td>
    <td class="slimField"><input class="field" id="street_number" name = "street_number"
          disabled="true" value="{{events.street_number}}"></input></td>
    <td class="wideField" colspan="2"><input class="field" id="street_adress" name = "street_adress"
          disabled="true" value="{{events.street_adress}}"></input></td>
  </tr>
  <tr>
    <td class="label">City</td>
    <td class="wideField" colspan="3"><input class="field" id="city" name = "city"
          disabled="true" value="{{events.city}}"></input></td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="slimField"><input class="field"
          id="state" name = "state" disabled="true" value="{{events.state}}"></input></td>
    <td class="label">Zip code</td>
    <td class="wideField"><input class="field" id="zip_code" name = "zip_code"
          disabled="true" value="{{events.zip_code}}"></input></td>
  </tr>
  <tr>
    <td class="label">Country</td>
    <td class="wideField" colspan="3"><input class="field"
          id="country" name = "country" disabled="true" value="{{events.country}}"></input></td>
  </tr>
</table>

{% endblock %}