{% extends "layout.html" %} {% block content %}
<!-- Modal QR Code -->
<div class="modal fade" id="qrcode">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title text-secondary text-center">Cible marquée !</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img src="images/qrcode.png" class="qrcode" alt="qrcode" title="qrcode">
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex flex-column align-items-center">
                <div>
                    <span>Utilisez ce QRCode à la boutique de cette
                        <strong>Jäger hours</strong>
                        pour profiter de votre réduction !
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery SLick-->
<div id="stringify">{{eventsjson}}</div>
<div id="show"></div>
<section class="slick_gallery size_slider p-0">
    <div>
        <img src="/uploads/{{events.picture}}" class="img_slider" alt="{{events.name}}" title="{{events.name}}">
    </div>

    
    <div>
        <img src="images/bg3.jpeg" class="img_slider" alt="">
    </div>

    <div>
        <img src="images/bg2.jpeg" class="img_slider" alt="">
    </div>
</section>
<!-- Annonce -->

<div class="container-fluid col-12" id="annonce">
    <!--Fixed right -->
    <div class="d-none d-lg-block container sticky-top col-4 pt-5 mr-lg-3 p-2 float-right">
        <div class="border p-3">
            <div class="col-12 border p-0 pb-3 border-top-0 border-right-0 border-left-0">
                <span class="display-4">{{events.promonumber}} % - {{events.number_avalaible}} places</span>
            </div>
            <div class="col-12 p-0 pb-4 border border-top-0 border-right-0 border-left-0">
                <h4 class="mt-3" id="alert_timer"></h4>
                <div class="container-fluid d-flex align-items-center" id="clockdiv">
                    <div class="row display-4">

                        <span class="hours"></span>
                        <span>&nbsp;:&nbsp;</span>
                        <span class="minutes"></span>
                        <span>&nbsp;:&nbsp;</span>
                        <span class="seconds"></span>
                    </div>
                </div>
            </div>
            {% if user._id == "5af60b0fb9058d1cfc8f228a" or user._id == "5b046b299b98d600051d16e2" or user._id == "5b01dac0bbdcf70005493627" or user._id == "5b00618c475d8100053351a0" %} 
            <div class="col-12 pt-3 p-0 d-flex justify-content-center align-items-center">
                <a href="/{{events._id}}/registerevent" class="w-100" style="text-decoration: none;">
                    <button class="btn btn-danger btn-lg w-100" id="button_target">
                        Marquage de la cible
                    </button>
                </a>
            </div>
            <div class="col-12 pt-3 p-0 d-flex justify-content-center align-items-center">
                <a href="/edit/{{events._id}}" class="btn btn-default">Editer</a>
                <a href="/delete/{{events._id}}" class="btn btn-danger">Supprimer</a>
            </div>

            {% elif user %}
            <div class="col-12 pt-3 p-0 d-flex justify-content-center align-items-center" id="connecte">
                <a href="/{{events._id}}/registerevent" class="w-100" style="text-decoration: none;">
                    <button class="btn btn-danger btn-lg w-100" id="button_target">
                        Marquage de la cible
                    </button>
                </a>
            </div>

            <div class="col-12 pt-3 p-0 d-flex justify-content-center align-items-center">
                    <a href="#" class="w-100" style="text-decoration: none;">
                        <button class="btn btn-success btn-lg w-100" data-toggle="modal" data-target="#qrcode" id="button_target">
                            Récupère ton offre !
                        </button>
                    </a>
                </div>

            {% else %}
            <div class="col-12 pt-3 p-0 d-flex justify-content-center align-items-center" id="no-connecte">
                <button type="button" data-toggle="modal" data-target="#connexion" class="btn btn-dark btn-lg height-100 w-100" id="button_target">
                    Pour profiter de l'offre
                    <br> Veuillez vous authentifier
                </button>
            </div>
            {% endif %}
            
        </div>
    </div>
    <!-- Fixed Bottom -->
    <div class="d-lg-none container-fluid fixed-bottom height-150 border bg-white">
        <div class="d-flex justify-content-between h-100">
            <div class="col-7 pr-5 p-0 d-flex flex-column justify-content-around">
                <div>
                    <span class="text_size_18">{{events.promonumber}} % - {{events.number_avalaible}} places</span>
                </div>
                <div>
                    <h4 class="text_size_18 m-0" id="alert_timer2"></h4>
                    <div class="container-fluid d-flex align-items-center" id="clockdiv2">
                        <div class="row text_size_18">
                            <span class="hours"></span>
                            <span>&nbsp;:&nbsp;</span>
                            <span class="minutes"></span>
                            <span>&nbsp;:&nbsp;</span>
                            <span class="seconds"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-5 d-flex align-items-center h-100 p-0">
                <button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#qrcode" id="button_target2">
                    Marquage
                    <br>de la cible
                </button>
            </div>
        </div>
    </div>
    <!-- Description -->
    <div class="container col-12 col-lg-7 mt-5 float-lg-left" id="description">
        <!-- Header -->
        <div class="container col-12">
            <h1>{{events.name}}</h1>
            <div>
                <strong class="font-weight-normal">{{events.city}}</strong>
            </div>
        </div>
        <!-- Little information -->
        <div class="container col-12 m-3">
            <div class="row">
                <div class="mr-3">
                    <span>Type: </span>
                    {% if events.types[0] == "5af88c4fd9337052acd29f49" or events.types[1] == "5af88c4fd9337052acd29f49" or events.types[2] == "5af88c4fd9337052acd29f49" or events.types[3] == "5af88c4fd9337052acd29f49" or events.types[4] == "5af88c4fd9337052acd29f49" %}
                    <span>
                        <img src="images/ic_shopping_basket.png" alt="shopping_basket" title="shopping_basket">
                    </span>
                    {% endif %}
                    {% if events.types[0] == "5af87d11d9337052acd29f36" or events.types[1] == "5af87d11d9337052acd29f36" or events.types[2] == "5af87d11d9337052acd29f36" or events.types[3] == "5af87d11d9337052acd29f36" or events.types[4] == "5af87cbbd9337052acd29f36" %}
                    <span>
                        <img src="images/ic_casino.png" alt="activité" title="activité">
                    </span>
                    {% endif %}

                    {% if events.types[0] == "5af87c7bd9337052acd29f31" or events.types[1] == "5af87c7bd9337052acd29f31" or events.types[2] == "5af87c7bd9337052acd29f31" or events.types[3] == "5af87c7bd9337052acd29f31" or events.types[4] == "5af87c7bd9337052acd29f31" %}
                    <span>
                        <img src="images/ic_store.png" alt="service" title="service">
                    </span>
                    {% endif %}

                    {% if events.types[0] == "5af87cbbd9337052acd29f35" or events.types[1] == "5af87cbbd9337052acd29f35" or events.types[2] == "5af87cbbd9337052acd29f35" or events.types[3] == "5af87cbbd9337052acd29f35" or events.types[4] == "5af87cbbd9337052acd29f35" %}
                    <span>
                        <img src="images/ic_kitchen.png" alt="alimentation" title="alimentation">
                    </span>
                    {% endif %}

                    {% if events.types[0] == "5af87cbbd9337052acd29f37" or events.types[1] == "5af87cbbd9337052acd29f37" or events.types[2] == "5af87cbbd9337052acd29f37" or events.types[3] == "5af87cbbd9337052acd29f37" or events.types[4] == "5af87cbbd9337052acd29f37" %}
                    <span>
                        <img src="images/ic_desktop_mac.png" alt="hightech" title="hightech">
                    </span>
                    {% endif %}
                    
                    
                </div>
                <div class="mr-3">
                    <span>Accessibilité: </span>
                    <span>
                        <img src="images/ic_directions_bus.png" alt="bus" title="bus">
                    </span>
                    <span>
                        <img src="images/ic_directions_subway.png" alt="subway" title="subway">
                    </span>
                    <span>
                        <img src="images/ic_local_parking.png" alt="parking" title="parking">
                    </span>
                </div>
            </div>
        </div>
        <!-- Main description -->
        <div class="container col-12 mb-3">

        </div>
        <!-- Offers -->
        <div class="container col-12 mb-3">
            <h4>Pars à la chasse: </h4>
            <p>{{events.description}}</p>
        </div>
        <!-- Localisation -->
        <div id="latitude">{{events.latitude}}</div>
        <div id="longitude">{{events.longitude}}</div>
        <div class="container col-12 mb-3">
            <h4 class="mb-4">Localisation</h4>
            <div class="col-12 p-0">
                <img src="images/ic_place_black_24dp.png" alt="place" title="place">
                <span>{{events.street_number}} {{events.route}}, {{events.zip_code}} {{events.city}}</span>
            </div>
            <div class="col-12 p-0">
                <div class="col-sm-3"></div>
                <div class="col-sm-12">
                    <div id="map"></div>
                    <input type="button" class="btn btn-default" value="Me localiser" onClick="javascript:getLocationLeaflet();">
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}