{% extends "layout.html" %} {% block content %}
<!-- Modal QR Code -->
<div class="modal fade" id="qrcode">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title text-secondary text-center">Cible marquée !</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img src="images/qrcode.png" class="qrcode" alt="qrcode" title="qrcode">
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer d-flex flex-column align-items-center">
                <div>
                    <span>Utilisez ce QRCode à la boutique de cette
                        <strong>Jäger hours</strong>
                        pour profiter de votre réduction !
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal QRCode -->
<!-- Feed Announce -->
<div class="container-fluid d-flex justify-content-center align-items-center flex-column pt-5 pb-5">
    <div class="col-12">
        <h1 class="pl-3 pb-4">Vos Jager hours :</h1>
        <!-- Container Announce -->
        <div class="container-fluid p-0">
            <!-- Announce Box -->
            <div class="container-fluid pl-3 pr-3 announce_feed d-flex align-items-center min-height-175 text_decoration_none">
                <div class="col-12 p-0 d-flex flex-column flex-md-row">
                    <div class="col-12 col-md-3 p-0 height-150 overflow_hidden d-flex justify-content-center align-items-center">
                        <div class="img-responsive">
                            <img src="images/bg.jpg" class="img-fluid" alt="bg">
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-7 p-0 height-150 d-block d-lg-flex justify-content-md-between pr-md-2 pr-lg-5 flex-lg-row">
                        <div class="col-12 col-md-11 col-lg-7 p-0 pl-md-3 pr-lg-3 d-flex flex-column justify-content-md-between">
                            <div class="p-0">
                                <h5 class="text-dark">Franck Provost</h5>
                            </div>
                            <div class="p-0">
                                <span class="text-secondary d-block">17-19 Boulevard Paul Vaillant Couturier, 94800 Villejuif, France</span>
                            </div>
                            <div class="p-0">
                                <span class="text-secondary">Prix moyen: 20,90€</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 p-0 pl-md-3 pr-md-3 pl-lg-0 pr-lg-0  d-lg-flex justify-content-lg-end align-items-lg-center">
                            <span class="text-danger d-none d-lg-block display-4">-40%</span>
                            <span class="text-danger d-block d-lg-none fonts_20">-40%</span>
                        </div>
                    </div>
                    <div class="col-12 p-0 m-0 col-md-4 col-lg-2 d-flex justify-content-center align-items-center">
                        <button class="btn btn-success btn-lg w-100" data-toggle="modal" data-target="#qrcode" id="button_target">
                            <span class="d-none d-lg-block">Récupère
                                <br> ton offre
                            </span>
                            <span class="d-block d-lg-none">Récupère ton offre</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /Announce Box -->
        </div>
    </div>
</div>
{% endblock %}