{% extends "layout.html" %} {% block content %}

<div class="container-fluid p-0 pt-5 pb-5">
    <div class="col-12 offset-0 offset-md-1 col-md-10 offset-lg-2 col-lg-8">

        <div class="container-fluid p-0">
            <h1 class="p-0 pl-lg-3 ">Profil</h1>
        </div>


        <div class="container-fluid p-0 pt-4 pb-4">
            <h2 class=" p-0 pl-lg-3 pb-3">Information personnel:</h2>

            <!-- Nav tabs -->
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Identifiant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Mot de passe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu3">Entreprise</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content pt-3">

                <div class="tab-pane container active" id="home">
                    <h4 class="pb-3">Identifiant actuel: DClaey</h4>
                    <form class="row" method="post" action="/register">
                        <div class="form-group col-12 col-md-7">
                            <input type="text" class="form-control pl-5 nom_icon" id="name" name="name" placeholder="Identifiant">
                        </div>
                        <div class="col-12 offset-md-1 col-md-4">
                            <button type="submit" class=" btn btn-dark btn btn-block">Modifier</button>
                        </div>

                    </form>
                </div>
                <div class="tab-pane container fade" id="menu1">
                    <h4 class="pb-3">Email actuel: DClaey@jaherhours.fr</h4>
                    <form method="post" action="/register">
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="email" class="form-control pl-5 mail_icon" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="password" class="form-control pl-5 mdp_icon" id="password" name="password" placeholder="Confirmation mot de passe">
                        </div>
                        <div class="col-12 col-md-7 p-0">
                            <button type="submit" class=" btn btn-dark btn btn-block">Modifier</button>
                        </div>

                    </form>
                </div>
                <div class="tab-pane container fade" id="menu2">
                    <h4 class="pb-3">Modifier votre mot de passe:</h4>
                    <form method="post" action="/register">
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="password" class="form-control pl-5 mdp_icon" id="password1" name="password" placeholder="Ancien mot de passe">
                        </div>
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="password" class="form-control pl-5 mdp_icon" id="password2" name="password" placeholder="Nouveau mot de passe">
                        </div>
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="password" class="form-control pl-5 mdp_icon" id="password3" name="password" placeholder="Confirmation mot de passe">
                        </div>

                        <div class="col-12 col-md-7 p-0">
                            <button type="submit" class=" btn btn-dark btn btn-block">Modifier</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane container fade" id="menu3">
                    <h4 class="pb-3">Entreprise:</h4>
                    <form method="post" action="/register">
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="text" class="form-control pl-5 nom_icon store_icon" id="nom" placeholder="Nom de l'entreprise">
                        </div>
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="text" class="form-control pl-5 location_icon" id="nom" placeholder="Adresse">
                        </div>
                        <div class="d-flex justify-content-between col-12 p-0">
                            <div class="form-group col-6 p-0 pr-1">
                                <input type="text" class="form-control" id="inputCity" placeholder="Ville">
                            </div>
                            <div class="form-group col-6 p-0 pl-1">
                                <input type="number" class="form-control" id="inputZip" placeholder="Code postal">
                            </div>
                        </div>
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="number" class="form-control" id="inputZip" placeholder="Code postal">
                        </div>
                        <div class="form-group col-12 col-md-7 p-0">
                            <textarea name="descrition" rows="10" placeholder="Description..." class="w-100 p-2"></textarea>

                        </div>
                        <div class="form-group col-12 col-md-7 p-0">
                            <input type="password" class="form-control pl-5 mdp_icon" id="password3" name="password" placeholder="Confirmation mot de passe">
                        </div>
                        <div class="col-12 col-md-7 p-0">
                            <button type="submit" class=" btn btn-dark btn btn-block">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0 pt-4 pb-4">
            <h2 class=" p-0 pl-lg-3 pb-3">Mes annonces:</h2>
            <!-- Liste des annonces -->
            <div class="row m-0 p-0">

                <div class="col-6 col-lg-4 col-xl-3 p-0 pl-2 pr-2 pb-4 d-flex flex-column align-self-stretch">
                    <div class="img-responsive rounded">
                        <img class="img-fluid" src="images/bg4.jpg" alt="{{e.name}}" title="{{e.name}}">
                    </div>
                    <div class="pt-2">
                        <h5 class="text-justify">Titre</h5>
                        <strong class="text-danger">30%</strong>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-end h-100 pt-2">
                        <a href="#" class="col-12 col-md-6 p-0 pb-2 pr-md-1  text_decoration_none">
                            <button type="submit" class=" btn btn-light btn btn-block">Voir</button>
                        </a>
                        <a href="#" class="col-12 col-md-6 p-0 pb-2 pl-md-1 text_decoration_none">
                            <button type="submit" class=" btn btn-dark btn btn-block">Modifier</button>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-3 p-0 pl-2 pr-2 pb-4 d-flex flex-column align-self-stretch">
                    <div class="img-responsive rounded">
                        <img class="img-fluid" src="images/bg4.jpg" alt="{{e.name}}" title="{{e.name}}">
                    </div>
                    <div class="pt-2">
                        <h5 class="text-justify">Titre</h5>
                        <strong class="text-danger">30%</strong>
                    </div>
                    <div class="d-flex flex-column flex-md-row align-items-end h-100  pt-2">
                        <a href="#" class="col-12 col-md-6 p-0 pb-2 pr-md-1 text_decoration_none">
                            <button type="submit" class=" btn btn-light btn btn-block">Voir</button>
                        </a>
                        <a href="#" class="col-12 col-md-6 p-0 pb-2 pl-md-1 text_decoration_none">
                            <button type="submit" class=" btn btn-dark btn btn-block">Modifier</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}