{% extends "layout.html" %} {% block content %}
<!-- Index form -->
<!-- Utile pour init JS -->
<div id="indexprincipal"></div>
<div id="stringify">{{eventsjson}}</div>
<div class="container-fluid background-index pt-5 pb-5 p-0 m-0 mb-5">
    <div class="col-12 row d-flex align-items-center h-100 p-0 m-0">
        <div class="col-6 col-lg-3 p-0">
            <a href="#" style="text-decoration:none">
                <div class="col-4 offset-4 col-lg-6 offset-lg-3 p-0 img-square rounded-circle bg-white">
                    <div class="img-square-content">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <img class="p-lg-2 h-75 w-75 img-fluid" src="images/ic_my_location_black_48dp.png" alt="target">
                        </div>
                    </div>
                </div>
            </a>
            <div class="pt-4 height-80 d-flex justify-content-center">
                <h4 class="text-light text-center">Chassez</h4>
            </div>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="#" style="text-decoration:none">
                <div class="col-4 offset-4 col-lg-6 offset-lg-3 p-0 img-square rounded-circle bg-white">
                    <div class="img-square-content">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <img class="p-lg-2 h-75 w-75 img-fluid" src="images/ic_local_offer_black_48dp.png" alt="offer">
                        </div>
                    </div>
                </div>
            </a>
            <div class="pt-4 height-80 d-flex justify-content-center">
                <h4 class="text-light text-center">Des offres</h4>
            </div>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="#" style="text-decoration:none">
                <div class="col-4 offset-4 col-lg-6 offset-lg-3 p-0 img-square rounded-circle bg-white">
                    <div class="img-square-content">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <img class="p-lg-2 h-75 w-75 img-fluid" src="images/ic_place_48pt_3x.png" alt="place">
                        </div>
                    </div>
                </div>
            </a>
            <div class="pt-4 height-80 d-flex justify-content-center">
                <h4 class="text-light text-center">Proches de vous</h4>
            </div>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="#" style="text-decoration:none">
                <div class="col-4 offset-4 col-lg-6 offset-lg-3 p-0 img-square rounded-circle bg-white">
                    <div class="img-square-content">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <img class="p-lg-2 h-75 w-75 img-fluid" src="images/ic_timer_black_48dp.png" alt="timer">
                        </div>
                    </div>
                </div>
            </a>
            <div class="pt-4 height-80 d-flex justify-content-center">
                <h4 class="text-light text-center">Avant le chrono</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid height-70">
        <div class="d-flex justify-content-center align-items-center">
            <img src="images/ic_expand_more_white_18dp.png" alt="arrow">
        </div>
    </div>
</div>
<!-- /Index -->

<!-- Annonces -->
<div class="container-fluid ">
    <!-- Catégorie -->
    <div class="container-fluid mb-3">
        <div class="p-0 m-0 pb-3">
            <h4 class="pl-2">Des annonces qui vous correspondent</h4>
        </div>
        <div class="row m-0 p-0">
            <div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex pl-2 pr-2 pb-4">
                <a href="/feedservices" style="text-decoration:none" class="d-flex flex-column flex-lg-row text-dark border rounded">
                    <div class="col-lg-5 p-0">
                        <div class="img-responsive rounded">
                            <img class="img-fluid" src="images/beauty.jpg" alt="bg">
                        </div>
                    </div>
                    <div class="col-lg-7 pt-3 pb-3 p-lg-0 d-flex align-items-center justify-content-center">
                        <h6 class="m-0">Services</h6>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex pl-2 pr-2 pb-4">
                <a href="/feedalimentation" style="text-decoration:none" class="d-flex flex-column flex-lg-row text-dark border rounded">
                    <div class="col-lg-5 p-0">
                        <div class="img-responsive rounded">
                            <img class="img-fluid" src="images/restaurants.jpg" alt="bg">
                        </div>
                    </div>
                    <div class="col-lg-7 pt-3 pb-3 p-lg-0 d-flex align-items-center justify-content-center">
                        <h6 class="m-0">Alimentation</h6>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3 d-flex pl-2 pr-2 pb-4">
                <a href="/feedactivites" style="text-decoration:none" class="d-flex flex-column flex-lg-row text-dark border rounded">
                    <div class="col-lg-5 p-0">
                        <div class="img-responsive rounded">
                            <img class="img-fluid" src="images/wakeboard.jpg" alt="bg">
                        </div>
                    </div>
                    <div class="col-lg-7 pt-3 pb-3 p-lg-0 d-flex align-items-center justify-content-center">
                        <h6 class="m-0">Activités</h6>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 d-flex pl-2 pr-2 pb-4">
                <a href="/feedhightech" style="text-decoration:none" class="d-flex flex-column flex-lg-row text-dark border rounded">
                    <div class="col-lg-5 p-0">
                        <div class="img-responsive rounded">
                            <img class="img-fluid" src="images/plombier.jpg" alt="bg">
                        </div>
                    </div>
                    <div class="col-lg-7 pt-3 pb-3 p-lg-0 d-flex align-items-center justify-content-center">
                        <h6 class="m-0">High-Tech</h6>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <!-- /catégorie -->
    <!-- Offres à proximitées-->
    <div class="container-fluid mb-3">
        <div class="p-0 m-0 pb-3 d-flex justify-content-between">
            <h4 class="pl-2 pr-4">Offres proches de vous</h4>
            <button type="button" class="mr-2 btn btn-sm btn-danger" onClick="javascript:getLocationLeaflet();">
                Donnez votre position
            </button>
        </div>
        <!-- Liste des annonces -->
        <div class="row m-0 p-0">
            {% for e in events %}
            <div class="col-6 col-lg-4 col-xl-3 p-0 pl-2 pr-2 pb-4">
                <a href="{{e.id}}" style="text-decoration:none" class="text-dark">
                    <div class="img-responsive rounded">
                        <img class="img-fluid" src="/uploads/{{e.picture}}" alt="{{e.name}}">
                    </div>
                    <span>Commercant - {{e.city}}</span>
                    <h5>{{e.name}}</h5>
                    <div class="d-flex flex-column-reverse flex-sm-row justify-content-between">
                        <span>Prix moyen: 25€</span>
                        <strong class="text-danger">{{e.promonumber}}%</strong>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>


        <!-- /Liste des annonces -->
        <div class="p-0 pl-2 m-0 pb-3">
            <a href="#" class="text-dark">Tout afficher ></a>
        </div>
    </div>
    <!-- Jager Discover -->
    <div class="container-fluid mb-3">
        <div class="p-0 m-0 pb-3">
            <h4 class="pl-2">Découvrez Jager</h4>
        </div>
        <div class="discover-bg height-300 ml-2 mr-2">
            <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5 h-100 pl-2 pr-2 pl-md-3 pr-md-3 pl-lg-4 pr-lg-4 pl-xl-5 pr-xl-5 d-flex flex-column justify-content-center">
                <span class="mb-3 d-block text-light text-justify font-weight-bold fonts-20">Des promotions proches de chez vous, dans un temps restreint. Dépechez vous!</span>
                <a href="/discover" class="mt-3 btn-block btn btn-light font-weight-bold">Découvrez le concept Jager</a>
            </div>
        </div>
    </div>
    <!-- /Jager discover -->
    <!-- Offres bientôt fini-->
    <div class="container-fluid pb-3">
        <div class="p-0 m-0 pb-3">
            <h4 class="pl-2">Elles vont disparaître</h4>
        </div>
        <!-- Liste des annonces -->
        <div class="row m-0 p-0">
            {% for e in events %}
            <div class="col-6 col-lg-4 col-xl-3 p-0 pl-2 pr-2 pb-4">
                <a href="{{e.id}}" style="text-decoration:none" class="text-dark">
                    <div class="img-responsive rounded">
                        <img class="img-fluid" src="/uploads/{{e.picture}}" alt="{{e.name}}">
                    </div>
                    <span>Commercant - {{e.city}}</span>
                    <h5>{{e.name}}</h5>
                    <div class="d-flex flex-column-reverse flex-sm-row justify-content-between">
                        <span>Prix moyen: 25€</span>
                        <strong class="text-danger">{{e.promonumber}}%</strong>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="p-0 pl-2 m-0 pb-3">
            <a href="#" class="text-dark">Tout afficher ></a>
        </div>
    </div>

    <!-- /Liste des annonces -->
    <!-- Jager professionnel -->
    <div class="container-fluid mt-3 pr-2 pl-2">
        <div class="d-flex flex-column flex-md-row border-top border-bottom pb-4 pt-4">
            <div class="col-md-4 col-xl-3 offset-xl-2 p-0 d-flex align-items-center">
                <div class="img-responsive">
                    <img class="img-fluid" src="images/professional.jpg" alt="bg">
                </div>
            </div>
            <div class="col-md-8 col-xl-5 pt-3 pt-md-0 p-0 pl-md-4 d-flex flex-column justify-content-lg-between">
                <h4 class="text-justify">Découvrez comment Jager permet de valoriser votre entreprise</h4>
                <span>Des promotions dans votre intérêt et dans celui du client !</span>
                <div>
                    <a href="/discover" class="mt-3 pl-4 pr-4 btn btn-dark">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Jager professionnel -->

</div>
{% endblock %}